
Bot-PlayerTauz/Bot-PlayerTauz/appsettings.json
Bot-PlayerTauz/Bot-PlayerTauz/bin/Debug/net8.0/appsettings.json
Bot PLayer-Tauz 2.0/Bot PLayer-Tauz 2.0/appsettings.json
Bot PLayer-Tauz 2.0/Bot PLayer-Tauz 2.0/bin/Debug/net8.0/appsettings.json
